* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0px auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
}

/* Header and navigation bar is styled hereafter*/
.header{
    background-color: black;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav_content div {
    display: flex;
    justify-content: flex-end;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    font-size: 10px;
}

/* Carousel styling*/

.carouselContainer,
.container {
    background: linear-gradient(
        to bottom,
        rgb(0, 0, 0) 0%,
        rgb(0, 0, 0) 20%,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 100%
      );
}

/* Footer styling from her*/
#footerWrapper {
    background-color: #000000;
    text-align: left;
}

#footerContainer {
    width: 85%;
    margin: auto;
    color: white;
}

.footerContainer1 {
    padding: 100px 0 60px;
    display: flex;
    justify-content: space-between;
}

#footerWrapper hr {
    color: #DDDDDD;
}

.footerLinks {
    display: flex;
    gap: 30px;
}

.footerLinks img {
    width: 20px;
    color: #707070;
}

.footerContainer2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.footerContainer2 div {
    width: 30%;
}

.footerContainer2 ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

.footerContainer2 img {
    width: 80%;
    height: 80%;
}

.footerContainer2 address,
.footerContainer2 h4 {
    color: #707070;
    font-size: 16px;
}

.footerContainer2 h3,
h4 {
    margin-bottom: 10px;
}


/**/

.lineBreak {    
    width: 90%;
    height: 12px;
    margin: 50px auto;
}

.sponsorContainer {
    font-family: 'Times New Roman', Times, serif;
    padding: 40px 40px;
}

.sponsorContainer img {
    width: 80px;
    margin: 15px 15px;
}