body {
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, #f4f0f1 0, #e3dfe0 100%);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.wrapper{
    text-align: center;
}

.header{
    background-color: black;
}

a{
    color: white;
    margin-top: 15px;
    display: inline-block;
}
